<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Page</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>About</h1>
      <p>James Arthur Glass and Bertha Nell Dugger Glass are my grandparents. Over 3000 photographs, postcards, letters and other personal documents were taken from several boxes in their garage and scanned. This website is the result.<br> Many of the people in these letters and photographs are no longer alive and you might not instantly recognise their names or know how they are related to us. <br>Refer to this list if you want to quickly remind yourself who is who: </p>
      <ul>
	<li>James Max Glass (Jim Glass Sr.'s Dad)</li>
	<li>Gladys Bertha Gorr Glass (Jim Glass Sr.'s Mom)</li>
	<li>Arthur Elwang Glass (Jim Glass Sr.'s half Uncle)</li>
	<li>Vera Pearl Glass and Dorthy Irene Glass (Jim Glass Sr.'s Aunts)
	<li>James Redd Glass (Jim Glass Sr.'s Grandfather)</li>
	<li>Jean, Norma, and Max Glass (Jim Glass Sr.'s Siblings)</li>
	<li>Ellis Dean Dugger (Bertie's Dad)</li>
	<li>Prudence Estelle Scott Dugger (Bertie's Mom)</li>
	<li>Arba Pendergrass (Bertie's Great Aunt)</li>
	<li>Ellis Morgan Dugger (Bertie's Brother)</li>
	<li>Edgar and Alma Scott (Bertie's Aunt and Uncle)</li>
      </ul>
    </main>
    <footer>
      <p>Copyright &copy; 2023 Joe Glass</p>
    </footer>
  </body>
</html>