<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Page</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Contact</h1>
      <p>If you have any questions, comments or would like to contribute,
	<br>send me an email.</p>
    </main>
    <footer>
      <p>Copyright &copy; 2023 Joe Glass</p>
    </footer>
  </body>
</html>