<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Page</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Glass Family Photo Archive</h1>
      <p>This is a website dedicated to hosting family photos and other important documents that were collected from various family members.<br>
      The links below lead to different sets of photos. They are arranged in the way in which they were found. If you would like to see them close up, right click and open them in a new tab on your browser.</p>
      <nav>
        <ul>
          <li><a href="./arthur.html">Arthur</a></li>
          <li><a href="./Box1.html">Box 1</a></li>
          <li><a href="./cigarbox1.html">Cigar Box 1</a></li>
          <li><a href="./cigarbox2.html">Cigar Box 2</a></li>
          <li><a href="./fruitbox.html">Fruit Box</a></li>
          <li><a href="./Box2.html">Box 2</a></li>
          <li><a href="./seedbox.html">Seed Box</a></li>      
          <li><a href="./jimandbertieswedding.html">Jim and Bertie's Wedding</a></li>
          <li><a href="./letterstofam.html">Letters to Family</a></li>
          <li><a href="./papersbox.html">Papers Box</a></li>
          <li><a href="./photoalbumsbox1.html">Photo Albums Box1</a></li>
          <li><a href="./album1.html">Album 1</a></li>
          <li><a href="./album2.html">Album 2</a></li>
          <li><a href="./album3.html">Album 3</a></li>
          <li><a href="./album4.html">Album 4</a></li>
          <li><a href="./album5.html">Album 5</a></li>
          <li><a href="./album6.html">Album 6</a></li>
          <li><a href="./album7.html">Album 7</a></li>
          <li><a href="./album8.html">Album 8</a></li>
          <li><a href="./album9.html">Album 9</a></li>
          <li><a href="./album10.html">Album 10</a></li>
          <li><a href="./familyhistorypacket.html">Family History Packet</a></li>
          <li><a href="./miscletters.html">Misc Letters</a></li>
          <li><a href="./phototray.html">Photo Tray</a></li>
          <li><a href="./snaps.html">Snaps</a></li>
          <li><a href="./photoalbumsbox2.html">Photo Albums Box2</a></li>
          <li><a href="./clearbin.html">Clear Bin</a></li>
          <li><a href="./greenscrapbook.html">Green Scrapbook</a></li>
          <li><a href="./largescrapbook.html">Large Scrapbook</a></li>
          <li><a href="./manilaenvelope.html">Manila Envelope</a></li>
          <li><a href="./ornatescrapbook.html">Ornate Scrapbook</a></li>
          <li><a href="./postcards.html">Postcards</a></li>
          <li><a href="./scrapbookbox.html">Scrapbooking Box</a></li>
          <li><a href="./smallscrapbook.html">Small Scrapbook</a></li>
          <li><a href="./scrapbook.html">Scrapbook</a></li>
          <li><a href="./shoebox.html">Shoe Box</a></li>
        </ul>
      </nav>
    </main>
    <footer>
      <p>Copyright &copy; 2023 Joe Glass</p>
    </footer>
  </body>
</html>