<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Jim and Bertie's Wedding</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </header>
        <main>
          <img src=".\Glass Family Photos Archive\Jim and Bertie's Wedding\jimandbertiewedding_001.jpeg"><img src=".\Glass Family Photos Archive\Jim and Bertie's Wedding\jimandbertiewedding_002.jpeg"><img src=".\Glass Family Photos Archive\Jim and Bertie's Wedding\jimandbertiewedding_003.jpeg"><img src=".\Glass Family Photos Archive\Jim and Bertie's Wedding\jimandbertiewedding_004.jpeg"><img src=".\Glass Family Photos Archive\Jim and Bertie's Wedding\jimandbertiewedding_005.jpeg">
        </main>
  </body>
</html>